/* Smooth scrolling without JavaScript */
a[href^="#"] {
    scroll-behavior: smooth;
}

/* Dark mode styles */
[data-theme="dark"] {
    --primary-color: #33ddff;
    --secondary-color: #66e5ff;
    --tertiary-color: #00aacc;
    --background-primary: #121f21;
    --background-secondary: #061313;
    --accent-color: #f4a261;
}

[data-theme="light"] {
    --primary-color: #00aacc;
    --secondary-color: #00bfe6;
    --tertiary-color: #0095b3;
    --background-primary: #faffff;
    --background-secondary: #cde2e4;
    --accent-color: #f4a261;
}